body {
	/**background-color: #D9D9D9;**/
	background-color: black;
}

#container {
	display: flex; /** Usando flexbox para configurar a altura das tags filhas **/
	flex-direction: column;

	padding: 30px;

	height: 95vh;

	background-color: #FBF8EC;
	border-radius: 13px;
}

#cabecalho {
	height: 100px;
	
	padding-top: 0;
	padding-bottom: 0;
}

.botao button {
	display: flex;

	gap: 17px;

	align-items: center;

	background-color: #81C989;

	border: 3px solid transparent;
	border-radius: 3px;

	padding: 10px;

	font-size: 20px;
}

.botao button:hover {
	border: 3px solid red;
}

.botao button:active {
	transform: scale(0.97);
}

#conteudo {
	flex: 1; /** Para ocupar a altura restante**/
	min-height: 0; /** Ajustar a tabela dentro do conteudo**/
	
	overflow: auto;

	margin-top: 0;
}

#cabecalho-conteudo {
	display: grid;
	grid-template-columns: auto auto;

	margin-top: 12px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#cabecalho-conteudo #buscar{
	margin-left: auto;
}

#tabela_conteudo{
	margin-top: 0;
	padding-top: 0;
}

.inputError {
	border-color: red;
}